---
sidebar_position: 2
---

# Верификация                   

### <img src="/img/pdf-icon.png" height="50" valign="middle" /> [Руководство по верификации КП](verification-guide.pdf)

