
.an-table, .footer-an-table {
  width: 100%;
  max-width: 800px;
  /*height: 35px;*/
  background-color: rgba(255,255,255,0.90);

  font-family: Roboto, Lato, 'Open Sans', sans-serif; 
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
  color: #555;
  /*line-height:30px;*/
  text-align:center;
  vertical-align: middle;
  /*text-transform: lowercase;*/
  position: relative;

  /*padding: 15px;*/
  margin: 0 auto;
  /*display: inline-block;*/

  border-spacing: 7px;
  border-collapse: separate;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) {

  .an-table, .footer-an-table {
    width: 90%;
    padding: 13px;
  }
}

.an-table {
  padding-top: 13px;  
  padding-bottom: 13px;
}

table.an-table th {
  text-align: left;
  font-weight: 600;
  color: rgba(249,105,8,1);
  border-bottom: 1px solid rgba(222,94,8,0.3);
  border-left: 1px solid rgba(222,94,8,0.3);
  padding-left: 7px;
  padding-bottom: 7px;
  /*background-color: rgba(234,144,0,0.3);*/
}

table.an-table th .smallertext {
  font-size:15px;
  font-weight: 300;
  font-style: italic;
}

table.an-table .header-border-bottom {
  border-bottom: 1px solid rgba(222,94,8,0.3);
} 

table.an-table th:last-child {
  border-right: 0px;
}

table.an-table tbody {
  font-size:16px;
  text-transform: none;
  font-weight: 400;
}

table.an-table tbody td {
  padding-top: 7px;
  padding-bottom: 2px;
  vertical-align: top;
  text-align: left;
  padding-left: 7px;
  border-top: 1px solid #EEE;
}

table.an-table tbody td[class=smallertext] {
  font-size:15px;
}

table.an-table tbody tr:first-child td {
  border-top: 0;
}

table.an-table tbody td span[class=smallertext] {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  padding-top: 5px;
  margin-top: 5px;
  /*color: #888;*/
  border-top: 1px solid #EEE;
  display: block;
}

table.an-table tbody td span[class=smallertext-noborder] {
  font-size: 13px;
  font-weight: 300;
  /*padding-top: 5px;*/
  /*margin-top: 5px;*/
  vertical-align: middle;
  line-height: 19px;
  display:block;
  padding-left: 9px;
}

table.an-table tbody td span[class=smallertext-inline] {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  /*padding-top: 5px;*/
  /*margin-top: 5px;*/
  vertical-align: middle;
  line-height: 19px;
}

table.an-table tbody td span[class=smallertext-heading] {
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
}

/*table.an-table tbody td caldate {
  border-radius: 3px;
  border: 1px solid #EEE;
  width: 90%;
  display: inline-block;
  padding-left: 3px;
}*/

table.an-table tbody td input[type=button][class=c2a] {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #5ec032;
  background-color: #5ec032;
  font-size: 16px;
  font-family: Lato, 'Open Sans', sans-serif; 
  color: white;
  display: inline-block;
  /* do not change l&f in iOS */
  -webkit-appearance:none; 
  cursor: pointer;
/*  -webkit-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  -moz-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);*/
}

table.an-table tbody td input[type=button][class=c2a]:disabled {
  opacity: 0.6;
}

table.an-table tbody td input[type=button][class=c2a]:disabled:hover {
  opacity: 0.6;
}

table.an-table tbody td input[type=button][class=c2a]:hover {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #5ec032;
  opacity: 0.9;
  font-size: 16px;
  font-family: Lato, 'Open Sans', sans-serif; 
  color: white;
  display: inline-block;
  cursor: pointer;
/*  -webkit-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  -moz-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);*/
}



table.an-table tbody td input[type=button][class=c2a-mild] {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #93c97b;
  background-color: #93c97b;
  font-size: 15px;
  font-family: Lato, 'Open Sans', sans-serif; 
  color: white;
  display: inline-block;
  /* do not change l&f in iOS */
  -webkit-appearance:none; 
  cursor: pointer;
/*  -webkit-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  -moz-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);*/
}

table.an-table tbody td input[type=button][class=c2a-mild]:hover {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #93c97b;
  opacity: 0.9;
  font-size: 15px;
  font-family: Lato, 'Open Sans', sans-serif; 
  color: white;
  display: inline-block;
  cursor: pointer;
/*  -webkit-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  -moz-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);*/
}


table.an-table thead td input[type=button][class=tinysubmit] {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #fcb929;
  background-color: #fcb929;
  font-size: 15px;
  font-family: Lato, 'Open Sans', sans-serif; 
  color: white;
  display: inline-block;
  /* do not change l&f in iOS */
  -webkit-appearance:none; 
/*  -webkit-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  -moz-box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);
  box-shadow: 0px 5px 1px 0px rgba(200,200,200,0.30);*/
}

table.an-table thead td input[type=button][class=tinysubmit]:hover {
  border: 1px solid #fcc54e;
  background-color: #fcc54e;
}

table.an-table input[type=textbox] {
  /*border: 0; */
  padding-left: 7px;
  /*padding-bottom: -10px;*/
  /*color: rgba(249,105,8,1);*/
  color: #999;
/*  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
  font-size:18px;*/
  max-width: 210px;

}

table.an-table .short-description {
  font-family: Lato, 'Open Sans', sans-serif; 
  font-size:15px;
}

table.an-table .short-text-2line {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 17px;        /* fallback */
   max-height: 34px;       /* fallback */
}

table.an-table .full-text {
  width: auto;
  overflow: initial;
  text-overflow: initial;
  line-height: 17px;
}

table.an-table .rsvp-confirmation {
  font-family: Lato, 'Open Sans', sans-serif; 
  font-size:15px;
  font-weight: 600;
  color: #5ec032;
}

/*table.an-table input[type=textbox]::moz-placeholder {
  font-weight: 300;
}*/

table.an-table input:focus { 
  outline: none; 
}

table.an-table-1_3rd_width {
  width: 32%;
  margin-top: 5px;
}

table.an-table-half_width {
  width: 49%;
  margin-top: 5px;
}



.mobile-display-only {
  display: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) {

  table.an-table tbody td span[class=smallertext] {
    border-top: none;
    display: inline-block;
  }

  .desktop-display-only {
    display: none;
  }

}
