apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    version: 1
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"
      
  - name: Cortex
    type: prometheus
    access: proxy
    url: http://cortex-query-frontend:9010/prometheus
    basicAuth: true
    basicAuthUser: ${CORTEX_USER:-admin}
    basicAuthPassword: ${CORTEX_PASS:-admin}
    isDefault: true
    version: 1
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"
      httpHeaderName1: "X-Scope-OrgID"
      exemplarTraceIdDestinations:
        - name: "trace_id"
          datasourceUid: "tempo"
    secureJsonData:
      httpHeaderValue1: "tenant"
    
  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false
    version: 1
    editable: true
